<div class="container">
    <div class="row">
        <h3 class="text-center">Contact Me</h3>
        <div class="col-md-4 col-md-offset-4">
            <div class="well">
                <%= form_for @contact do |f| %>
                <% if user_signed_in? %>
                    <div class="form_group">
                        <%= f.label :name %>
                        <%= f.text_field :name, class: 'form-control' %>
                    </div>
                    
                    <div class="form_group">
                        <%= f.label :email %>
                        <%= f.text_field :email, class: 'form-control' %>
                    </div>
                    
                    <div class="form_group">
                        <%= f.label :message %>
                        <%= f.text_area :comments, class: 'form-control' %>
                    </div>
                        <%= f.submit 'Submit', class: 'btn btn-default' %>
                <% else %>
                    <h3>Please log in to send a message. (This is to prevent spammers, sorry!)</h3>
                <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>